<launch>
    <include file="$(find ur5e_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find ur5e_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="info" value="true"/>
    </include>

    <node pkg="digital_twin" type="robot_motion_action_server.py" name="robot_motion_server" output="screen"/>
</launch>
